@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  /* max-width: 1172px */
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}


.ck.ck-editor {
  width: 100%!important;
  min-width: 300px;
}

.ck h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.ck h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.ck h4 {
  font-weight: bold;
}

.ck.ck-balloon-panel_visible.ck-powered-by-balloon {
  display: none!important;
}

.ck.ck-dropdown__panel-visible {
  z-index: 100;
}

.ck.ck-content {
  min-height: 300px;
}